@import url("https://fonts.googleapis.com/css?family=Roboto");
/* line 3, ../sass/index.scss */
:root {
  font-family: 'Roboto', sans-serif;
}

/* line 7, ../sass/index.scss */
body {
  max-width: 1024px;
  min-width: 320px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 0;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  line-height: 1.75;
  box-sizing: border-box;
  background: linear-gradient(#FCFEF2, #D7FFF9);
}

/* line 22, ../sass/index.scss */
h1 {
  font-size: 36px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  line-height: 1.3;
}

/* line 29, ../sass/index.scss */
h2 {
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  line-height: 1.3;
}

/* line 36, ../sass/index.scss */
h3 {
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  line-height: 1.7;
}

/* line 42, ../sass/index.scss */
h4 {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  line-height: 1.7;
}

/* line 49, ../sass/index.scss */
h5 {
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  line-height: 1.7;
}

/* line 56, ../sass/index.scss */
h6 {
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  line-height: 1.7;
}

/* line 62, ../sass/index.scss */
ul {
  list-style: none;
}

/* line 66, ../sass/index.scss */
a {
  text-decoration: none;
}

/* line 70, ../sass/index.scss */
:active, :hover, :focus {
  outline: 0;
  outline-offset: 0;
}

/* line 75, ../sass/index.scss */
#main {
  flex: 1 0 auto;
}

/* line 79, ../sass/index.scss */
.container {
  margin: 0 20px;
}

/* line 83, ../sass/index.scss */
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

/* line 94, ../sass/index.scss */
.header {
  position: relative;
}
/* line 97, ../sass/index.scss */
.header .nav-top {
  display: flex;
  justify-content: space-between;
  margin: 15px;
}
/* line 103, ../sass/index.scss */
.header .main-menu ul {
  display: flex;
  flex-direction: row;
}
/* line 107, ../sass/index.scss */
.header .main-menu ul a {
  margin-left: 10px;
  padding: 10px 15px;
  font-size: 16px;
  color: black;
  transition: all 1s;
}
/* line 114, ../sass/index.scss */
.header .main-menu ul a:hover {
  background-color: #98e0ed;
  color: #5d788d;
  border-radius: 20px;
}

/* line 122, ../sass/index.scss */
.nav-btn {
  background: transparent;
  border-radius: 10px;
  transition: all 1s;
  border: 2px solid black;
}

/* line 129, ../sass/index.scss */
.nav-bottom {
  min-height: 650px;
  background-image: url(..//img/web/nav-bottom-img.jpg);
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}
/* line 139, ../sass/index.scss */
.nav-bottom .nav-bottom-logo {
  color: #fff;
  background: rgba(0, 44, 77, 0.4);
  border-radius: 15px;
}
/* line 144, ../sass/index.scss */
.nav-bottom .nav-bottom-logo a {
  font-size: 1rem;
  text-align: left;
  font-size: 2rem;
  color: #fff;
  padding-left: 20px;
}
/* line 152, ../sass/index.scss */
.nav-bottom .nav-bottom-text {
  background: rgba(0, 44, 77, 0.4);
  color: #fff;
}

/* line 161, ../sass/index.scss */
h2 {
  text-align: center;
  padding: 15px 0;
  background: rgba(0, 44, 77, 0.4);
  color: white;
}

/* line 169, ../sass/index.scss */
.aboutme-block {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}
/* line 174, ../sass/index.scss */
.aboutme-block .aboutme-item {
  display: flex;
  justify-content: space-between;
  background: rgba(152, 224, 237, 0.4);
  margin-bottom: 30px;
}
/* line 180, ../sass/index.scss */
.aboutme-block .aboutme-item p {
  padding: 20px;
  text-align: left;
  border-radius: 15px;
}
/* line 186, ../sass/index.scss */
.aboutme-block .aboutme-item .aboutme-img {
  width: 299px;
  height: 448px;
  padding: 5px;
}
/* line 191, ../sass/index.scss */
.aboutme-block .aboutme-item .aboutme-middle-img {
  width: 100%;
}
/* line 196, ../sass/index.scss */
.aboutme-block .aboutme-item-column {
  display: flex;
  flex-direction: column;
}

/* line 204, ../sass/index.scss */
.phrases {
  min-height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(0.25turn, #EACBC5, #ebf8e1, #f69d3c);
  border-radius: 100px;
}

/* line 215, ../sass/index.scss */
.slider-services {
  padding: 20px 20px;
}
/* line 219, ../sass/index.scss */
.slider-services .slick-prev:before,
.slider-services .slick-next:before {
  background: #223b36;
  border-radius: 10px;
  padding: 10px;
}
/* line 226, ../sass/index.scss */
.slider-services .slider-courses {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
/* line 232, ../sass/index.scss */
.slider-services .slider-courses .slider-course-text {
  text-align: center;
  min-height: 450px;
}
/* line 236, ../sass/index.scss */
.slider-services .slider-courses .slider-course-text ul {
  list-style-type: square;
  text-align: left;
}
/* line 242, ../sass/index.scss */
.slider-services .slider-courses .slider-courses-img img {
  width: 300px;
  border-radius: 15px;
}

/* line 252, ../sass/index.scss */
.slider-price .slick-prev:before,
.slider-price .slick-next:before {
  background: #eb6ba4;
  border-radius: 10px;
  padding: 5px;
}

/* line 260, ../sass/index.scss */
.slider-price {
  background: #F4FFFD;
}
/* line 263, ../sass/index.scss */
.slider-price div {
  text-align: center;
  margin: 0 20px 20px 20px;
}
/* line 267, ../sass/index.scss */
.slider-price div a {
  padding: 0 10px;
  color: red;
  border: 2px solid black;
  border-radius: 18px;
  transition: all 1s;
  text-decoration: none;
}
/* line 275, ../sass/index.scss */
.slider-price div a:hover {
  background: #ffcd9b;
  color: #494541;
  border: 2px solid #ff3d3d;
}
/* line 282, ../sass/index.scss */
.slider-price div .text-price {
  background: #eb6ba4;
  border-radius: 10px;
}

/* line 291, ../sass/index.scss */
.gallery {
  margin: 50px 0;
}
/* line 295, ../sass/index.scss */
.gallery .gallery-slider img {
  width: 100%;
  border-radius: 20px 20px 20px 20px;
}

/* line 304, ../sass/index.scss */
.form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  min-width: 100%;
  margin-bottom: 30px;
  padding: 10px;
  text-align: center;
}
/* line 317, ../sass/index.scss */
.form form {
  background: #ffe69b;
  border-radius: 20px;
  width: 100%;
  padding: 0 0 30px 0;
  border: none;
  background: #F4FFFD;
}
/* line 325, ../sass/index.scss */
.form form input {
  width: 90%;
  margin: 0;
  min-height: 30px;
  background: #98e0ed;
  border: none;
  border-radius: 15px;
  padding: 10px;
}
/* line 335, ../sass/index.scss */
.form form textarea {
  width: 90%;
  border: none;
  background: #98e0ed;
  border-radius: 15px;
  margin-bottom: 15px;
  padding: 10px;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  line-height: 1.7;
}
/* line 348, ../sass/index.scss */
.form form .form-btn {
  background: #74d0e1;
  color: white;
  width: 50%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  transition: all 1s;
  border: 1px solid #61afbd;
}
/* line 358, ../sass/index.scss */
.form form .form-btn:hover {
  background: #29a9c0;
  color: black;
  border: 1px solid #61afbd;
}

/* line 369, ../sass/index.scss */
.footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  background: #E1FEFA;
  border-radius: 20px 20px 0 0;
}
/* line 376, ../sass/index.scss */
.footer div {
  padding: 20px 20px 0 20px;
}

@media screen and (max-width: 1024px) {
  /* line 385, ../sass/index.scss */
  .header .nav-top {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
  /* line 390, ../sass/index.scss */
  .header .nav-top .icon-block {
    display: flex;
    justify-content: flex-start;
  }
  /* line 395, ../sass/index.scss */
  .header .nav-top .main-menu {
    position: absolute;
    top: 100%;
    right: 0;
    z-index: 2;
    background: #fff;
    border-radius: 5px;
    opacity: 0;
    visibility: hidden;
    transition: all 0.4s ease;
  }
  /* line 406, ../sass/index.scss */
  .header .nav-top .main-menu.is_open {
    visibility: visible;
    opacity: 1;
    position: relative;
  }
  /* line 413, ../sass/index.scss */
  .header .nav-top ul {
    display: block;
    padding: 10px 20px;
    text-align: center;
  }
  /* line 418, ../sass/index.scss */
  .header .nav-top ul a {
    display: inline-block;
  }
  /* line 424, ../sass/index.scss */
  .header .nav-bottom {
    min-height: 600px;
    display: flex;
    flex-direction: column;
  }
  /* line 429, ../sass/index.scss */
  .header .nav-bottom .nav-bottom-text {
    text-align: center;
  }

  /* line 438, ../sass/index.scss */
  .phrases p {
    font-size: 13px;
    padding: 25px;
  }

  /* line 447, ../sass/index.scss */
  .slider-services .slider-courses {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
    font-size: 12px;
  }
  /* line 455, ../sass/index.scss */
  .slider-services .slider-courses .slider-courses-img img {
    width: 400px;
  }

  /* line 466, ../sass/index.scss */
  .gallery .gallery-slider img {
    width: 100%;
  }
}
@media screen and (max-width: 880px) {
  /* line 480, ../sass/index.scss */
  .aboutme-block {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  /* line 485, ../sass/index.scss */
  .aboutme-block .aboutme-item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 30px;
  }
  /* line 492, ../sass/index.scss */
  .aboutme-block .aboutme-item .aboutme-img {
    width: 100%;
    height: auto;
  }
  /* line 497, ../sass/index.scss */
  .aboutme-block .aboutme-item p {
    font-size: 12px;
    padding: 5px;
  }

  /* line 504, ../sass/index.scss */
  .slider-courses-img {
    width: 100%;
  }
}
@media screen and (max-width: 540px) {
  /* line 513, ../sass/index.scss */
  .header .nav-top ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  /* line 518, ../sass/index.scss */
  .header .nav-top ul a {
    display: inline-block;
  }

  /* line 524, ../sass/index.scss */
  .aboutme-img {
    width: 100%;
    height: auto;
  }
}
/* line 545, ../sass/index.scss */
.nav_icon {
  display: none;
}
@media screen and (max-width: 1024px) {
  /* line 545, ../sass/index.scss */
  .nav_icon {
    transition: all 0.3s ease;
    right: 0;
    position: absolute;
    display: block;
    height: 60px;
    width: 30px;
    cursor: pointer;
    text-indent: -9999px;
    -webkit-appearance: none;
    -moz-appearance: none;
    -webkit-border-radius: 0;
    border-radius: 0;
    appearance: none;
    box-shadow: none;
    outline: none;
    border: none;
    z-index: 10;
  }
}
/* line 572, ../sass/index.scss */
.nav_icon i {
  top: 19px;
  transition: all 0.25s ease-in-out;
  transform: rotate(0deg);
  height: 2px;
  background: #000;
  position: absolute;
  right: 15px;
  left: 15px;
  display: block;
  opacity: 1;
  width: 100%;
  left: 0;
}
/* line 586, ../sass/index.scss */
.nav_icon i:nth-child(2) {
  top: 29px;
}
/* line 590, ../sass/index.scss */
.nav_icon i:nth-child(3) {
  top: 39px;
}
/* line 595, ../sass/index.scss */
.nav_icon.is_active {
  top: 0;
  right: 0;
  transform: none;
}
/* line 605, ../sass/index.scss */
.nav_icon.is_active i:nth-child(1) {
  transform: rotate(135deg);
  top: 29px;
}
/* line 610, ../sass/index.scss */
.nav_icon.is_active i:nth-child(2) {
  transform: translate3d(-100%, 0, 0);
  opacity: 0;
}
/* line 615, ../sass/index.scss */
.nav_icon.is_active i:nth-child(3) {
  transform: rotate(-135deg);
  top: 29px;
}

/*Shake*/
/* line 626, ../sass/index.scss */
.shake {
  position: relative;
  display: inline-block;
}

@-webkit-keyframes social {
  0% {
    -webkit-transform: translate(2px, 1px) rotate(0deg);
  }
  10% {
    -webkit-transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    -webkit-transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    -webkit-transform: translate(0px, 2px) rotate(0deg);
  }
  40% {
    -webkit-transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    -webkit-transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    -webkit-transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    -webkit-transform: translate(2px, 1px) rotate(-1deg);
  }
  80% {
    -webkit-transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    -webkit-transform: translate(2px, 2px) rotate(0deg);
  }
  100% {
    -webkit-transform: translate(1px, -2px) rotate(-1deg);
  }
}
/* line 682, ../sass/index.scss */
.shake:hover,
.shake:focus {
  -webkit-transform-origin: 50% 50%;
  -webkit-animation-name: social;
  -webkit-animation-duration: .8s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
}

/*SHAKE
*/
