@import url("https://fonts.googleapis.com/css?family=Roboto");
/* line 5, ../sass/index.scss */
:root {
  font-family: 'Roboto', sans-serif;
}

/* line 9, ../sass/index.scss */
body {
  max-width: 980px;
  min-width: 320px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 0;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  line-height: 1.75;
  box-sizing: border-box;
  background: linear-gradient(#FCFEF2, #D7FFF9);
}

/* line 24, ../sass/index.scss */
h1 {
  font-size: 36px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  line-height: 1.3;
}

/* line 31, ../sass/index.scss */
h2 {
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  line-height: 1.3;
}

/* line 38, ../sass/index.scss */
h3 {
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  line-height: 1.7;
}

/* line 44, ../sass/index.scss */
h4 {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  line-height: 1.7;
}

/* line 51, ../sass/index.scss */
h5 {
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  line-height: 1.7;
}

/* line 58, ../sass/index.scss */
h6 {
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  line-height: 1.7;
}

/* line 64, ../sass/index.scss */
ul {
  list-style: none;
}

/* line 68, ../sass/index.scss */
a {
  text-decoration: none;
}

/* line 72, ../sass/index.scss */
#main {
  flex: 1 0 auto;
}

/* line 77, ../sass/index.scss */
.container {
  margin: 0 20px;
}

/* line 81, ../sass/index.scss */
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

/* line 92, ../sass/index.scss */
.header {
  flex: flex;
}
/* line 94, ../sass/index.scss */
.header .nav-top {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
/* line 99, ../sass/index.scss */
.header .main-menu ul {
  display: flex;
  flex-direction: row;
}
/* line 102, ../sass/index.scss */
.header .main-menu ul a {
  padding: 10px 15px;
  font-size: 16px;
  color: black;
  transition: all 1s;
}
/* line 107, ../sass/index.scss */
.header .main-menu ul a:hover {
  background-color: tomato;
  border-radius: 20px;
}

/* line 116, ../sass/index.scss */
.main-menu .nav-btn {
  background: #f4aa42;
  border-radius: 10px;
  transition: all 1s;
}
/* line 120, ../sass/index.scss */
.main-menu .nav-btn a:hover {
  background-color: green;
}

/* line 125, ../sass/index.scss */
.nav-bottom {
  min-height: 650px;
  background-image: url(..//img/web/nav-bottom-img.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
}
/* line 131, ../sass/index.scss */
.nav-bottom .nav-bottom-text {
  position: absolute;
  left: 21%;
  color: #fff;
  background: rgba(0, 44, 77, 0.4);
  border-radius: 15px;
  padding: 5px 20px;
}

/* line 145, ../sass/index.scss */
h1 {
  text-align: center;
}

/* line 150, ../sass/index.scss */
.aboutme-block {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}
/* line 154, ../sass/index.scss */
.aboutme-block .aboutme-item {
  display: flex;
  justify-content: space-between;
}
/* line 157, ../sass/index.scss */
.aboutme-block .aboutme-item p {
  padding: 20px;
  text-align: left;
  border: 1px solid black;
  border-radius: 15px;
}
/* line 163, ../sass/index.scss */
.aboutme-block .aboutme-item img {
  padding: 5px;
  border-radius: 15px;
}
/* line 168, ../sass/index.scss */
.aboutme-block .aboutme-item-column {
  display: flex;
  flex-direction: column;
}

/* line 176, ../sass/index.scss */
.phrases {
  min-height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(0.25turn, #EACBC5, #ebf8e1, #f69d3c);
  border-radius: 100px;
}

/* line 187, ../sass/index.scss */
.slider-services {
  padding: 20px 20px;
}
/* line 189, ../sass/index.scss */
.slider-services .slick-prev:before, .slider-services .slick-next:before {
  background: #223b36;
  border-radius: 10px;
  padding: 10px;
}
/* line 194, ../sass/index.scss */
.slider-services .slider-courses {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
/* line 199, ../sass/index.scss */
.slider-services .slider-courses .slider-course-text {
  text-align: center;
  min-height: 450px;
}
/* line 202, ../sass/index.scss */
.slider-services .slider-courses .slider-course-text ul {
  list-style-type: square;
  text-align: left;
}
/* line 207, ../sass/index.scss */
.slider-services .slider-courses .slider-courses-img img {
  width: 300px;
  border-radius: 15px;
}

/* line 218, ../sass/index.scss */
.slider-price .slick-prev:before, .slider-price .slick-next:before {
  background: #eb6ba4;
  border-radius: 10px;
  padding: 5px;
}

/* line 224, ../sass/index.scss */
.slider-price {
  background: #F4FFFD;
}
/* line 226, ../sass/index.scss */
.slider-price div {
  text-align: center;
  margin: 0 20px 20px 20px;
}
/* line 229, ../sass/index.scss */
.slider-price div a {
  padding: 0 10px;
  color: red;
  border: 2px solid black;
  border-radius: 18px;
  transition: all 1s;
  text-decoration: none;
}
/* line 236, ../sass/index.scss */
.slider-price div a:hover {
  background: #ffcd9b;
  color: #494541;
  border: 2px solid #ff3d3d;
}
/* line 242, ../sass/index.scss */
.slider-price div .text-price {
  background: #eb6ba4;
  border-radius: 10px;
}

/* line 251, ../sass/index.scss */
.gallery {
  margin: 50px 0;
}
/* line 254, ../sass/index.scss */
.gallery .gallery-slider img {
  width: 100%;
  border-radius: 20px 20px 20px 20px;
}

/* line 262, ../sass/index.scss */
.form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  min-width: 100%;
  margin-bottom: 30px;
  padding: 10px;
  text-align: center;
}
/* line 270, ../sass/index.scss */
.form form {
  background: #ffe69b;
  border-radius: 20px;
  width: 100%;
  padding: 0 0 30px 0;
  border: none;
  background: #F4FFFD;
}
/* line 278, ../sass/index.scss */
.form form input {
  width: 95%;
  margin: 0;
  min-height: 30px;
}
/* line 284, ../sass/index.scss */
.form form textarea {
  width: 95%;
}
/* line 287, ../sass/index.scss */
.form form .form-btn {
  background: #E4DCF2;
  padding: 5px;
}

/* line 298, ../sass/index.scss */
.footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  background: #E1FEFA;
  border-radius: 20px 20px 0 0;
}
/* line 304, ../sass/index.scss */
.footer div {
  padding: 20px 20px 0 20px;
}

@media all and (max-width: 780px) {
  /* line 318, ../sass/index.scss */
  .header .nav-top {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  /* line 323, ../sass/index.scss */
  .header .nav-top .icon-block {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  /* line 328, ../sass/index.scss */
  .header .nav-top ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  /* line 333, ../sass/index.scss */
  .header .nav-top ul a {
    display: inline-block;
  }
  /* line 340, ../sass/index.scss */
  .header .nav-bottom {
    min-height: 600px;
    position: relative;
  }
  /* line 343, ../sass/index.scss */
  .header .nav-bottom .nav-bottom-text {
    position: absolute;
    left: 12%;
    width: 65%;
    text-align: center;
  }

  /* line 353, ../sass/index.scss */
  .aboutme-block {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  /* line 357, ../sass/index.scss */
  .aboutme-block .aboutme-item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 30px;
  }
  /* line 363, ../sass/index.scss */
  .aboutme-block .aboutme-item .aboutme-img {
    width: 300px;
  }
  /* line 366, ../sass/index.scss */
  .aboutme-block .aboutme-item p {
    font-size: 12px;
    padding: 5px;
  }

  /* line 376, ../sass/index.scss */
  .phrases p {
    font-size: 13px;
    padding: 25px;
  }

  /* line 385, ../sass/index.scss */
  .slider-services .slider-courses {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
    font-size: 12px;
  }
  /* line 393, ../sass/index.scss */
  .slider-services .slider-courses .slider-courses-img img {
    width: 200px;
  }

  /* line 404, ../sass/index.scss */
  .gallery .gallery-slider img {
    width: 100%;
  }
}
@media all and (max-width: 540px) {
  /* line 418, ../sass/index.scss */
  .header .nav-top {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  /* line 423, ../sass/index.scss */
  .header .nav-top .icon-block {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  /* line 428, ../sass/index.scss */
  .header .nav-top ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  /* line 433, ../sass/index.scss */
  .header .nav-top ul a {
    display: inline-block;
  }
  /* line 440, ../sass/index.scss */
  .header .nav-bottom {
    min-height: 300px;
    position: relative;
  }
  /* line 443, ../sass/index.scss */
  .header .nav-bottom .nav-bottom-text {
    position: absolute;
    left: 12%;
    width: 65%;
    text-align: center;
  }
}
