@import url("https://fonts.googleapis.com/css?family=Roboto");
/* line 5, ../sass/index.scss */
:root {
  font-family: 'Roboto', sans-serif;
}

/* line 9, ../sass/index.scss */
body {
  max-width: 980px;
  min-width: 320px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 0;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  line-height: 1.75;
  box-sizing: border-box;
  background: linear-gradient(#f9fcfc, rgba(252, 245, 217, 0.6));
}

/* line 24, ../sass/index.scss */
h1 {
  font-size: 36px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  line-height: 1.3;
}

/* line 31, ../sass/index.scss */
h2 {
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  line-height: 1.3;
}

/* line 38, ../sass/index.scss */
h3 {
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  line-height: 1.7;
}

/* line 44, ../sass/index.scss */
h4 {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  line-height: 1.7;
}

/* line 51, ../sass/index.scss */
h5 {
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  line-height: 1.7;
}

/* line 58, ../sass/index.scss */
h6 {
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  line-height: 1.7;
}

/* line 64, ../sass/index.scss */
ul {
  list-style: none;
}

/* line 68, ../sass/index.scss */
a {
  text-decoration: none;
}

/* line 72, ../sass/index.scss */
#main {
  flex: 1 0 auto;
}

/* line 77, ../sass/index.scss */
.container {
  margin: 0 20px;
}

/* line 83, ../sass/index.scss */
.header {
  flex: flex;
}
/* line 85, ../sass/index.scss */
.header .nav-top {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
/* line 90, ../sass/index.scss */
.header .main-menu ul {
  display: flex;
  flex-direction: row;
}
/* line 93, ../sass/index.scss */
.header .main-menu ul a {
  padding: 10px 15px;
  font-size: 16px;
  color: black;
  transition: all 1s;
}
/* line 98, ../sass/index.scss */
.header .main-menu ul a:hover {
  background-color: tomato;
  border-radius: 20px;
}

/* line 107, ../sass/index.scss */
.main-menu .nav-btn {
  background: #f4aa42;
  border-radius: 10px;
  transition: all 1s;
}
/* line 111, ../sass/index.scss */
.main-menu .nav-btn a:hover {
  background-color: green;
}

/* line 116, ../sass/index.scss */
.nav-bottom {
  min-height: 650px;
  background-image: url(..//img/slider-item1.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
}
/* line 122, ../sass/index.scss */
.nav-bottom .nav-bottom-text {
  position: absolute;
  top: 10%;
  left: 21%;
  color: #fff;
  background: rgba(0, 44, 77, 0.4);
  border-radius: 15px;
  padding: 5px 20px;
}

/* line 137, ../sass/index.scss */
h1 {
  text-align: center;
}

/* line 142, ../sass/index.scss */
.aboutme-block {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}
/* line 146, ../sass/index.scss */
.aboutme-block .aboutme-img img {
  width: 100%;
}
/* line 149, ../sass/index.scss */
.aboutme-block .aboutme-text p {
  width: 100%;
  height: 200px;
  overflow: hidden;
  text-overflow: clip;
}

/* line 159, ../sass/index.scss */
.phrases {
  min-height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(0.25turn, #EACBC5, #ebf8e1, #f69d3c);
  border-radius: 100px;
}

/* line 170, ../sass/index.scss */
.slider1 {
  padding: 20px 20px;
}
/* line 172, ../sass/index.scss */
.slider1 .slick-prev:before, .slider1 .slick-next:before {
  background: #ffe8a3;
  border-radius: 10px;
  padding: 10px;
}
/* line 177, ../sass/index.scss */
.slider1 .slider-courses {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
/* line 182, ../sass/index.scss */
.slider1 .slider-courses .slider-course-text {
  text-align: center;
  min-height: 450px;
}
/* line 185, ../sass/index.scss */
.slider1 .slider-courses .slider-course-text ul {
  list-style-type: square;
  text-align: left;
}
/* line 190, ../sass/index.scss */
.slider1 .slider-courses .slider-courses-img img {
  width: 300px;
}

/* line 200, ../sass/index.scss */
.slider2 .slick-prev:before, .slider2 .slick-next:before {
  background: #ff3d3d;
  border-radius: 10px;
  padding: 5px;
}

/* line 207, ../sass/index.scss */
.slider-price div {
  text-align: center;
  margin: 0 20px;
}
/* line 210, ../sass/index.scss */
.slider-price div a {
  padding: 0 10px;
  color: red;
  border: 2px solid black;
  border-radius: 18px;
  transition: all 1s;
  text-decoration: none;
}
/* line 217, ../sass/index.scss */
.slider-price div a:hover {
  background: #ffcd9b;
  color: #494541;
  border: 2px solid #ff3d3d;
}
/* line 223, ../sass/index.scss */
.slider-price div .text-price {
  background: #ff3d3d;
  border-radius: 10px;
}

/* line 232, ../sass/index.scss */
.gallery-slider {
  margin: 50px 0;
}

/* line 237, ../sass/index.scss */
.form {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  padding: 10px;
  background: #fff3d1;
}
/* line 243, ../sass/index.scss */
.form .container {
  background: #ffe69b;
  width: 400px;
  padding: 5px;
}
/* line 248, ../sass/index.scss */
.form .container input {
  width: 100%;
}
/* line 251, ../sass/index.scss */
.form .container textarea {
  width: 100%;
}
/* line 254, ../sass/index.scss */
.form .container .form-btn {
  color: white;
  background: #c4c4c4;
  padding: 5px;
}

/* line 266, ../sass/index.scss */
.footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  background: #EACBC5;
}
/* line 271, ../sass/index.scss */
.footer div {
  padding: 20px 20px 0 20px;
}
