/* line 1, ../sass/style.scss */
body {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  line-height: 1.75;
  margin: 0;
  padding: 0;
  min-width: 1px;
}

/* line 10, ../sass/style.scss */
h1 {
  font-size: 36px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  line-height: 1.3;
}

/* line 17, ../sass/style.scss */
h2 {
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  line-height: 1.3;
}

/* line 24, ../sass/style.scss */
h3 {
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  line-height: 1.7;
}

/* line 30, ../sass/style.scss */
h4 {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  line-height: 1.7;
}

/* line 37, ../sass/style.scss */
h5 {
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  line-height: 1.7;
}

/* line 44, ../sass/style.scss */
h6 {
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  line-height: 1.7;
}

/* line 50, ../sass/style.scss */
ul {
  list-style: none;
}

/* line 54, ../sass/style.scss */
a {
  text-decoration: none;
}

/* line 58, ../sass/style.scss */
.nav-bottom img {
  width: 980px;
  min-height: 400px;
}

/* line 63, ../sass/style.scss */
.aboutme-block img {
  width: 50%;
}

/* line 67, ../sass/style.scss */
.slider-course img {
  width: 400px;
  height: 250px;
}

/* line 72, ../sass/style.scss */
.main-menu li {
  display: inline-block;
  padding: 10px 25px;
}
